CfdiService/CfdiService/Connected Services/ReachcoreService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GeneraConstancia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="expediente" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraConstanciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneraConstanciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraEstampilla">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="clave" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="digestion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GeneraEstampillaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GeneraEstampillaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GeneraConstanciaSoapIn">
    <wsdl:part name="parameters" element="tns:GeneraConstancia" />
  </wsdl:message>
  <wsdl:message name="GeneraConstanciaSoapOut">
    <wsdl:part name="parameters" element="tns:GeneraConstanciaResponse" />
  </wsdl:message>
  <wsdl:message name="GeneraEstampillaSoapIn">
    <wsdl:part name="parameters" element="tns:GeneraEstampilla" />
  </wsdl:message>
  <wsdl:message name="GeneraEstampillaSoapOut">
    <wsdl:part name="parameters" element="tns:GeneraEstampillaResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="GeneraConstancia">
      <wsdl:input message="tns:GeneraConstanciaSoapIn" />
      <wsdl:output message="tns:GeneraConstanciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GeneraEstampilla">
      <wsdl:input message="tns:GeneraEstampillaSoapIn" />
      <wsdl:output message="tns:GeneraEstampillaSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneraConstancia">
      <soap:operation soapAction="http://tempuri.org/GeneraConstancia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraEstampilla">
      <soap:operation soapAction="http://tempuri.org/GeneraEstampilla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneraConstancia">
      <soap12:operation soapAction="http://tempuri.org/GeneraConstancia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GeneraEstampilla">
      <soap12:operation soapAction="http://tempuri.org/GeneraEstampilla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="https://nom151.advantage-security.com:909/nomws/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="https://nom151.advantage-security.com:909/nomws/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>